includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    phpVersion: 70300
    level: 8
    bootstrapFiles:
        - .phpstan.php
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
    paths:
        - .
    excludePaths:
        - .git
        - .github
        - .githooks
        - languages
        - node_modules
        - vendor
        - tests # Would require to many fake classes,methods
#    ignoreErrors:
#        - '#no value type specified in iterable type array.#'
#        - "#Offset '[a-zA-Z0-9\\_]+' does not exist on array#"
#        - "#Cannot access property \\$[a-zA-Z0-9\\_]+ on stdClass\\|false#"
