includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    phpVersion: 70300
    level: 8
    bootstrapFiles:
    	- .phpstan.php
    	- vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
    paths:
        - .
    excludePaths:
        - vendor
        - node_modules
        - .github
