<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	colors="true"
	cacheDirectory=".phpunit.cache"
	>
	<testsuites>
		<testsuite name="wp">
			<directory suffix="_Test.php">tests/wp</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory suffix=".php">app</directory>
		</include>
	</source>
</phpunit>
